.sidebar {

  background-color: $real-white;
  border-radius: 0.5rem;
  margin-bottom: 10px;

  .title {
    border-bottom: 3px solid $primary-red;
    margin-bottom: 20px;
    text-align: center;
    color: $primary-red;
    font-weight: 700;
  }

  .navigation {
    margin-top: 10px;
  }

}