$real-black: #000000;
$default: #5A6169;
$loading-grey: #292929;
$loading-grey-dark: #1f1f1f;
$primary-darkBlue: #056d8b;
$primary-blue: #488bb2;
$light-blue: #9eb5d6;
$dark-purple: #422884;
$light-purple: #5a2ca0;
$primary-red: #d9534f;
$primary-green: #7ab100;
$lighter-grey: #cccccc;
$light-grey: #e9ecef;
$real-white: #ffffff;