$real-black: #000000;
$default: #5A6169;
$primary-darkBlue: #2c3e50;
$primary-blue: #488bb2;
$light-blue: #9eb5d6;
$primary-red: #d9534f;
$primary-green: #7ab100;
$light-grey: #cccccc;
$real-white: #ffffff;