$bodyWidthSmall: 50px;
$bodyWidthDefault: 85px;
$bodyWidthLarge: 150px;

.bodyRenderer {
  margin: 0 auto;

  &--small {
    width: $bodyWidthSmall;
    height: $bodyWidthSmall;
  }
  &--default {
    width: $bodyWidthDefault;
    height: $bodyWidthDefault;
  }
  &--large {
    width: $bodyWidthLarge;
    height: $bodyWidthLarge;
  }
}