
.header {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;

  .header-logo {
    background-image: url("/../img/logo_new.png");
    background-size: 325px auto;
    background-repeat: no-repeat;
    height: 98px;
    width: auto;
  }
}