.partnerCarousel {
  margin: 30px 0;

  &__headline {
    margin-bottom: 20px;
  }

  &__logo {
    width: auto;
    margin: 0 auto;

    &--desktop {
      height: 60px;
    }

    &--mobile {
      height: 50px;
    }
  }
}

