body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-image: url("/../img/bg.png");
  background-color: $light-blue;
  background-attachment: fixed;
  background-repeat: repeat-x;
  /* will be removed after preload */
  overflow: hidden;
}

section {
  padding: 20px;
}

strong {
  font-weight: 700;
}

.bg-realWhite{
  background-color: $real-white;
}

.form-control {
  padding: 0 1rem;
}