$ratio: 1.5;
$skinWidth: 100px;

.skinCanvas {
  width: $skinWidth;
  height: $skinWidth / $ratio;
  margin: 0 auto;

  &__headControl {
    padding: 10px;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0 !important;
  }
}