$ratio: 1.5;
$skinWidth: 100px;

.skinCanvas {
  width: $skinWidth;
  height: $skinWidth / $ratio;
  margin: 20px auto 0 auto;

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}