$ratio: 1.5;
$skinWidthSmall: 50px;
$skinWidthDefault: 125px;
$skinWidthLarge: 250px;

.skinRenderer {
    margin: 0 auto;

    &--small {
        width: $skinWidthSmall;
        height: $skinWidthSmall / $ratio;
    }
    &--default {
        width: $skinWidthDefault;
        height: $skinWidthDefault / $ratio;
    }
    &--large {
        width: $skinWidthLarge;
        height: $skinWidthLarge / $ratio;
    }
}