$ratio: 1.5;
$skinWidth: 100px;

.assetCanvas {
  width: $skinWidth;
  height: $skinWidth / $ratio;
  margin: 0 auto;

  &__headControl {
    padding: 10px;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0 !important;
  }

  &__settingController {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    cursor: pointer;
  }

  &__dropdown-item {
    cursor: pointer;
  }
}