
.toastAlert {
  position: fixed;
  min-width: 300px;
  z-index: 9999;

  &__position {

    &--topLeft {
      top: 150px;
      left: 45px;
    }

    &--topRight {
      top: 150px;
      right: 45px;
    }

    &--bottomLeft {
      bottom: 45px;
      left: 45px;
    }

    &--bottomRight {
      bottom: 45px;
      right: 45px;
    }
  }

  &__headerImage {
    max-width: 30px;
  }

  &__show {
    opacity: 1;
  }
}