.upload {

    &__preview {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        border: 1px dashed $lighter-grey;
        overflow: hidden;

        &__display {
            text-align: center;
            margin: 0 auto;
            font-weight: 700;
        }

        img {
            max-width: 100%;
            width: auto;
        }
    }
}